<?xml version="1.0" encoding="UTF-8" ?>
<web-app>

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>cn.lear.Text11_httpserver.Demo8_LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-parttern>/login</url-parttern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-parttern>/log</url-parttern>
    </servlet-mapping>



    <servlet>
        <servlet-name>reg</servlet-name>
        <servlet-class>cn.lear.Text11_httpserver.Demo9_RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>reg</servlet-name>
        <url-parttern>/reg</url-parttern>
    </servlet-mapping>

</web-app>